
.virsutine-dalis {
    width: 1400px;
    height: 80px;
}

svg {
position: absolute;
width: 202px;
height: 28px;
left: 81px;
top: 30px;

}
.main-menu {
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 32px;
position: absolute;
width: 669px;
height: 44px;
left: 642px;
top: 18px;
text-decoration: none;
}

.menu-item {
    list-style: none;
    padding: 32px;
}
.menu-link {
    text-decoration: none;
    
}
.menu-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 23px;
    gap: 10px;
    border-color: blue;
    border: 1px solid blue;
    text-decoration: none;
    
    
   
} 
  


